@model IdentityOWIN.Ticket
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


@using (Html.BeginForm("Index", "Buses", FormMethod.Post))
{
<div class="row">
    <div class="col-md-3">
        From: @Html.TextBox("from")
    </div>
    <div class="col-md-3">
        To:@Html.TextBox("to")
    </div>
    <div class="col-md-3">

        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control datetimepicker" } })
    </div>
    <div class="col-md-">
        <input type="submit" value="Search">
    </div>
</div>
}
